.mainContent{

    // margin-top: 0;
    margin-top: 2rem;

    @include desktop{
        margin-top: $mt-5;
        @include grid(2, 1fr);
    }
}

.me_image{
    text-align: center;
    img{
        border: 1px solid darken($color: $primary, $amount: 50);
        border-radius: 50%;
        width: 30rem;

        @include tablet{
            width: 35rem;
            // transform: scaleX(-1);
        }
    }
}

.aboutMe__info{
    flex-direction: column;
    display: flex;

    h2{
        margin-top: 2rem;
    }

    p{
        font-size: 1.7rem;
        line-height: 1.7;
        margin-bottom: 3rem;
    }
}