@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200;400;700&display=swap');

html {
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth; // scroll smooth
}

*, *:before, *:after {
    box-sizing: inherit;
}

body{
    font-family: 'karla', Helvetica, sans-serif, Arial;
}